Package: libntk1-gl1-dbgsym
Package-Type: ddeb
Source: ntk
Version: 1.3.1001-1~ppa1~resolute
Auto-Built-Package: debug-symbols
Architecture: amd64
Maintainer: Yann Collette <ycollette.nospam@free.fr>
Installed-Size: 96
Depends: libntk1-gl1 (= 1.3.1001-1~ppa1~resolute)
Section: debug
Priority: optional
Multi-Arch: same
Description: debug symbols for libntk1-gl1
Build-Ids: 88b18ce4cd9ef956f21b8987efc42561399a6d7f
